<a href="https://colab.research.google.com/github/adi-thyan03/DataScience-ict-accademy/blob/main/python_day2_pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the string "Hello, World!", extract and print the
substring "Hello".

In [1]:
string = "Hello, World!"

substring = string[0:5]

print(substring)

Hello

2. Given the string "Python is fun", extract and print the
substring "is".

In [2]:
string = "Python is fun"

substring = string[7:9]

print(substring)

is

3. Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [3]:
string = "Programming"

substring = string[3:7]

print(substring)

gram

4. Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [4]:
string = "abcdefgh"

even_index_chars = string[::2]

print(even_index_chars)

aceg

5. Given the string "abcdefg", use negative indices to extract
and print the substring "efg"

In [8]:
string = "abcdefg"

substring = string[-3::]

print(substring)

efg

6. Given the string "Data Science", use negative indices to
extract and print the last three characters

In [9]:
string = "Data Science"

last_three_chars = string[-3:]

print(last_three_chars)

nce

7. Given the string "abcdefghij", use slicing with a step to
print every second character.

In [10]:
string = "abcdefghij"

every_second_char = string[::2]

print(every_second_char)

acegi

8. Given the string "1234567890", use slicing with a step to
print the odd digits.

In [11]:
string = "1234567890"

odd_digits = string[1::2]

print(odd_digits)

24680

9. Given the string "Hello", use slicing to print the string in
reverse order

In [12]:
string = "Hello"

reversed_string = string[::-1]

print(reversed_string)

olleH

10. Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [13]:
string = "abcdefghijk"

substring = string[0:11:2]

print(substring)

acegik

11. Write a program to find sum of all elements in a list of
integers.

In [14]:
numbers = [int(x) for x in input("Enter a list of integers separated by spaces: ").split()]

total_sum = sum(numbers)

print("The sum of all elements in the list is:", total_sum)

Enter a list of integers separated by spaces: 1 4 5 7 6 4 2
The sum of all elements in the list is: 29

12. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [15]:
sentence = input("Enter a sentence: ")

length = len(sentence)
print("The length of the sentence is:", length)

half_index = length // 2
first_half = sentence[:half_index]
print("The first half of the sentence is:", first_half)

Enter a sentence: datascience
The length of the sentence is: 11
The first half of the sentence is: datas

13. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [16]:
original_tuple = (78, 45, 32, 19, 82, 77, 40, 39)

temp_list = list(original_tuple)

temp_list[2] = 100

modified_tuple = tuple(temp_list)

print("Modified tuple:", modified_tuple)

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [20]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

if 32 in listA:
    listA.remove(32)
print("After removing 32:", listA)
listA = [x for x in listA if x != 40]
print("After deleting occurence of 40:", listA)
if len(listA) > 5:
    del listA[5]
print("After deleting index 5 :", listA)
listA.insert(9,300)
print("After modifying the value at index 9 :", listA)
listA.insert(2, 200)
print("After adding 200 at index 2 :", listA)

print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

After removing 32: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
After deleting occurence of 40: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
After deleting index 5 : [19, 10, 55, 31, 32, 29, 10, 65, 77]
After modifying the value at index 9 : [19, 10, 55, 31, 32, 29, 10, 65, 77, 300]
After adding 200 at index 2 : [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length of the list: 11
Maximum value in the list: 300
Sum of all elements in the list: 828

15. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [22]:
string = "The day has been long"

string_a = string[:4] + string[5:]
print("String after deleting index 4:", string_a)

print(" ".join([string_a] * 4))

for _ in range(3):
    print(string_a)

string_d = string_a[:7] + 'A' + string_a[8:]
print("String after modifying index 7:", string_d)


print("Substring from index 4 to 15:", string_d[4:16])

final_string = string_d
print("Final string:", final_string)
print("Length of the final string:", len(final_string))

String after deleting index 4: The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
String after modifying index 7: The ay Aas been long
Substring from index 4 to 15: ay Aas been
Final string: The ay Aas been long
Length of the final string: 20