<a href="https://colab.research.google.com/github/adi-thyan03/DataScience-ict-accademy/blob/main/python_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
import math

def calculate_area_of_circle(radius):
    return math.pi * (radius ** 2)

try:
    radius = float(input("Enter the radius of the circle: "))

    if radius < 0:
        print("Radius cannot be negative. Please enter a non-negative value.")
    else:
        area = calculate_area_of_circle(radius)
        print(f"The area of the circle with radius {radius} is: {area:.2f}")

except ValueError:
    print("Invalid input. Please enter a numeric value for the radius.")

Enter the radius of the circle: 3
The area of the circle with radius 3.0 is: 28.27

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [2]:
def get_student_details():

    name = input("Enter the student's name: ")
    roll_number = input("Enter the student's roll number: ")
    try:
        marks = float(input("Enter the student's marks: "))
    except ValueError:
        print("Invalid input. Marks should be a numeric value.")
        return

    print("\nStudent Details:")
    print(f"Name: {name}")
    print(f"Roll Number: {roll_number}")
    print(f"Marks: {marks:.2f}")

get_student_details()

Enter the student's name: Anisha
Enter the student's roll number: 21
Enter the student's marks: 78

Student Details:
Name: Anisha
Roll Number: 21
Marks: 78.00

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number

In [3]:
def find_largest_number(numbers):
    if not numbers:
        return None

    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num

    return largest


numbers = [12,3,47,10]


largest_number = find_largest_number(numbers)


if largest_number is not None:
    print(f"The largest number in the list is: {largest_number}")
else:
    print("The list is empty.")

The largest number in the list is: 47

4.  Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [4]:
def sum_of_current_and_previous(start, end):
    previous_number = start
    for current_number in range(start + 1, end + 1):
        sum_of_numbers = current_number + previous_number
        print(f"Sum of {current_number} and {previous_number} is: {sum_of_numbers}")
        previous_number = current_number


start_number = 1
end_number = 10


sum_of_current_and_previous(start_number, end_number)

Sum of 2 and 1 is: 3
Sum of 3 and 2 is: 5
Sum of 4 and 3 is: 7
Sum of 5 and 4 is: 9
Sum of 6 and 5 is: 11
Sum of 7 and 6 is: 13
Sum of 8 and 7 is: 15
Sum of 9 and 8 is: 17
Sum of 10 and 9 is: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [5]:
def print_divisible_by_5(numbers):
    divisible_by_5 = [num for num in numbers if num % 5 == 0]
    print(", ".join(map(str, divisible_by_5)))


numbers = [10, 20, 33, 46, 55]

print_divisible_by_5(numbers)

10, 20, 55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [7]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True


try:
    num = int(input("Enter a number : "))
    if is_prime(num):
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")
except ValueError:
    print("Invalid input. Please enter an integer.")

Enter a number : 3
3 is a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [9]:
def reverse_list(original_list):
    reversed_list = []
    for item in original_list:
        reversed_list.insert(0, item)
    return reversed_list


my_list = [10,40,30,70]


reversed_list = reverse_list(my_list)


print("Input:", my_list)
print("Output:", reversed_list)

Input: [10, 40, 30, 70]
Output: [70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [10]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)


number_of_rows = 4


print_pattern(number_of_rows)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [11]:
def find_max_of_three(num1, num2, num3):
    return max(num1, num2, num3)


number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
number3 = float(input("Enter the third number: "))


maximum_number = find_max_of_three(number1, number2, number3)

print(f"The maximum of {number1}, {number2}, and {number3} is: {maximum_number}")

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum of 34.0, 12.0, and 7.0 is: 34.0

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [12]:
def print_pattern():

    max_stars = 5

    for i in range(1, max_stars + 1):
        print('*' * i)

    for i in range(max_stars - 1, 0, -1):
        print('*' * i)

print_pattern()

*
**
***
****
*****
****
***
**
*